.card-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: max-content;

  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 0.1);

  margin: 20px;
  transition: 0.2s ease-in-out;
  border: 1px none #459cff71; 
  backface-visibility: hidden;
}

.card-container:hover{
  translate: 0 -10px;
  border-style: solid;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.card-image img {
  width: 100%;
  border-radius: 16px;
}

.card-description {
  display: flex;
  flex-direction: column;
  padding: 0 40px 26px;
}

.card-description h2, p{
  text-align: center;
  margin: 12px 0;
}

.card-description h2 {
  color: #253048;
}

.card-description p {
  color: #919399;
}

body {
  background-color: #D7E1EE;
  font-family: Outfit;
}

section {
  /* border: 1px solid yellow; */
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
}